/* The GNU General Public License v2.0, Copyright (c) 2015 Copyright Julian Antonio Avar Campopiano */

* {
  padding: 0;
  margin: 0;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
	/*A nice background, which should be commented when posted!*/
/*
	background: url("background.jpg") no-repeat center center fixed;
	background-size: cover;
*/
}

#taskbar {
  width: 100vw;
  height: 2em;
  background-color: #000000;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 2;
}

/*#start_menu {
  background-color: #ffffff;
  width: 2em;
  height: 2em;
}*/
/*#menu {
  height: 150px;
  width: 100px;
  background-color: #aaaaaa;
  position: absolute;
  z-index: 7;
  left: 0;
  bottom: 2em;
  display: none;
}*/

.appcon {
  height: 2em;
  width: 2em;
  color: #000000;
  background-color: #ffffff;
  float: left;
  cursor: pointer;
  border: solid #000000 1px;
}

.app {
  width: 500px;
  min-width: 275px;
  max-width: 100vw;
  height: 200px;
  min-height: 125px;
  max-height: calc(100vh - 2em);
  background-color: #444444;
  color: #ffffff;
  z-index: 0;
  border: 1px #000000 solid;
  position: absolute;
  top: 0;
  left: 0;
}

.head {
  background-color: #ffffff;
  color: #000000;
}

.title {
  text-align: center;
  cursor: default;
}

.buttons {
  position: relative;
}

.close {
  position: absolute;
  right: .1em;
  top: -1.1em;
  background-color: #aa0000;
  height: 1em;
  width: 1em;
  border-radius: 100%;
  cursor: pointer;
}

.maximize {
  position: absolute;
  right: 1.4em;
  top: -1.1em;
  background-color: #dddd00;
  height: 1em;
  width: 1em;
  border-radius: 100%;
  cursor: pointer;
}

.minimize {
  position: absolute;
  right: 2.6em;
  top: -1.1em;
  background-color: #0000dd;
  height: 1em;
  width: 1em;
  border-radius: 100%;
  cursor: pointer;
}

.content {
  height: 100%;
  padding: 8px;
  font-size: .8em;
  text-align: justify;
  overflow-y: auto;
  overflow-x: hidden;
}
